<footer class="footer section">

    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-footer f-about">
                            <div class="logo">
                                <a href="/">
                                    <img src="images/logo/logo.svg" alt="#">
                                </a>
                            </div>
                            <p>Making the world a better place through constructing elegant hierarchies.</p>
                            <p class="copyright-text"><span>© 2023 Blink.</span>Designed and Developed by <a
                                    href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a>
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6 col-12">

                        <div class="single-footer f-link">
                            <h3>Solutions</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Marketing</a></li>
                                <li><a href="javascript:void(0)">Analytics</a></li>
                                <li><a href="javascript:void(0)">Commerce</a></li>
                                <li><a href="javascript:void(0)">Insights</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6 col-12">

                        <div class="single-footer f-link">
                            <h3>Support</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Pricing</a></li>
                                <li><a href="javascript:void(0)">Documentation</a></li>
                                <li><a href="javascript:void(0)">Guides</a></li>
                                <li><a href="javascript:void(0)">API Status</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-footer newsletter">
                            <h3>Subscribe</h3>
                            <p>Subscribe to our newsletter for the latest updates</p>
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                                <input name="EMAIL" placeholder="Email address" required="required" type="email">
                                <div class="button">
                                    <button class="sub-btn"><i class="far fa-envelope"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>