<footer class="footer section">

    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-footer f-about">
                            <div class="logo">
                                
                                <a class="navbar-brand" href="/">
                                    <img src="images/logo/logo.png" alt="Logo">
                                    WAKAME
                                </a>
                            </div>
                            <p>Làm cho tiếng Nhật trở nên đơn giản hơn, học dễ hơn, yêu thích hơn</p>
                            
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6 col-12">

                        <div class="single-footer f-link">
                            <h3>Ban chủ nhiệm</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Nguyễn Thanh Nhã</a></li>
                                <li><a href="javascript:void(0)">Lê Minh Tài</a></li>
                                <li><a href="javascript:void(0)">Nguyễn Minh Cường</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6 col-12">

                        <div class="single-footer f-link">
                            <h3>Hỗ trợ</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Hỏi đáp</a></li>
                                <li><a href="javascript:void(0)">Tài liệu</a></li>
                                <li><a href="javascript:void(0)">Tư vấn</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-footer newsletter">
                            <h3>Đăng ký nhận tin</h3>
                            <p>Để lại email để nhận được tin mới nhất từ CLB</p>
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                                <input name="EMAIL" placeholder="Email address" required="required" type="email">
                                <div class="button">
                                    <button class="sub-btn"><i class="far fa-envelope"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="col-12 py-4">
                        <p class="copyright-text text-center">
                            <span>© 2021 WAKAME.</span>
                            Designed by 
                            <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a>
                            and Developed by
                            <a href="https://www.facebook.com/mct.minhtai" rel="nofollow" target="_blank">Minh Tài</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>