<%- contentFor('body') %>
    <div class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <h1>4<span>0</span>4</h1>
                        <h2>The page you were looking for<br> doesn't exist anymore.</h2>
                        <p>It might have been moved or deleted.</p>
                        <div class="button">
                            <a href="index.html" class="btn">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">

<%- contentFor('customScript') %>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/tiny-slider.js"></script>
    <script src="javascripts/glightbox.min.js"></script>
    <script src="javascripts/count-up.min.js"></script>
    <script>
        window.onload = function () {
            window.setTimeout(fadeout, 500);
        }

        function fadeout() {
            document.querySelector('.preloader').style.opacity = '0';
            document.querySelector('.preloader').style.display = 'none';
        }
    </script>