<%- contentFor('body') %>
    <div class="container" style="margin-top: 200px;">

        <div class="row">
            <h2 class="wow fadeInUp dropzone-title" >Please Upload Images</h2>
            <div id="dropzone" class="wow fadeInUp dropzone" ></div>
            <div class="button d-grid d-md-inline-block" >
                <button class="wow fadeInUp btn dropzone-next" onclick="submitUploadedFiles()">Next Step</button>
            </div>
        </div>

    </div>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <!-- Position it: -->
        <!-- - `.toast-container` for spacing between toasts -->
        <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
        <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    
            <!-- Then put toasts within -->
    
            <!-- Start toasts -->
            <div class="toast bg-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000"
                data-bs-autohide="true">
                <div class="toast-header">
                    <img src="/images/logo/logo.png" class="rounded me-2" alt="logo" style="width:50px">
                    <strong class="me-auto">Message</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body bg-danger bg-opacity-75 text-white">
                    Has error when upload images
                </div>
            </div>
            <!-- End toasts -->
    
    
    
        </div>
    </div>

<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/dropzone.css">

<%- contentFor('customScript') %>
    <script src="javascripts/dropzone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="javascripts/dropzoneCtrl.js"></script>