<%- contentFor('body') %>
    <%- include('partials/notify') %>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Sign In</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/">Home</a></li>
                        <li>Sign In</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <form class="card login-form inner-content" method="post">
                        <div class="card-body">
                            <div class="title">
                                <h3>Khôi phục mật khẩu</h3>
                                <p>Nhập mật khẩu mới của bạn và click vào nút bên dưới</p>
                            </div>
                            <div class="input-head">
                                <div class="form-group input-group">
                                    <label><i class="fas fa-lock"></i></label>
                                    <input class="form-control" type="password" id="reg-email"
                                        placeholder="Enter your password" name="password" required>
                                </div>
                                <div class="form-group input-group">
                                    <label><i class="fas fa-lock"></i></label>
                                    <input class="form-control" type="password" id="reg-email"
                                        placeholder="Confirm your password" name="confirmPassword" required>
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Đặt lại mật khẩu</button>
                                <a class="btn alt" href="accounts/sign-in">Đăng nhập</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">
<%- contentFor('customScript') %>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/tiny-slider.js"></script>
    <script src="javascripts/glightbox.min.js"></script>
    <script src="javascripts/count-up.min.js"></script>
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach((toast, index) => { toast.show() });
    </script>