<%- contentFor('body') %>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Contact Us</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <form class="form" method="post" action="assets/mail/mail.php">
                            <div class="form-group">
                                <label>Tên của bạn</label>
                                <input name="name" type="text" placeholder="Nguyễn Văn A" required="required">
                            </div>
                            <div class="form-group">
                                <label>Chủ đề</label>
                                <input name="subject" type="text" placeholder="Nhập chủ đề cần đóng góp" required="required">
                            </div>
                            <div class="form-group">
                                <label>Email liên hệ</label>
                                <input name="email" type="email" placeholder="nguyenvanA@email.com" required="required">
                            </div>
                            <div class="form-group">
                                <label>Nội dung</label>
                                <textarea placeholder="Viết nội dung chính tại đây" name="message" id="message-area"
                                    class="form-control"></textarea>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn ">Gửi đóng góp</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="contact-widget-wrapper">
                        <div class="main-title">
                            <h2>CLB luôn sẵn sàng đón nhận<br>những ý kiến đóng góp của các bạn.
                            </h2>
                            <p>CLB luôn sẵn sàng thay đổi mỗi ngày để trở nên tốt hơn, những ý kiến đóng góp của các bạn đều là những món quà quý giá.</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">SĐT Liên Hệ</h3>
                            <p>0969-939-706 (Lê Minh Tài)</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">Email Liên Hệ</h3>
                            <p>wakameuit@gmail.com</p>
                        </div>
                        <div class="contact-widget-block">
                            <h3 class="title">CLB Tiếng Nhật WAKAME - UIT</h3>
                            <p>khu phố 6 phường Linh Trung - Thủ Đức</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">

<%- contentFor('customScript') %>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/tiny-slider.js"></script>
    <script src="javascripts/glightbox.min.js"></script>
    <script src="javascripts/count-up.min.js"></script>