<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Notify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/2.png" type="image/png">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/LineIcons.css">
    <link rel="stylesheet" href="stylesheets/notify.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">
          You are using an <strong>outdated</strong> browser. Please
          <a href="https://browsehappy.com/">upgrade your browser</a> to improve
          your experience and security.
        </p>
      <![endif]-->

    <div class="preloader" style="opacity: 0; display: none;">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


    <div class="maill-success">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="success-content">
                        <i class="lni lni-thumbs-up"></i>
                        <h1>
                            <%= title %>
                        </h1>
                        <p>
                            <%= message %>
                        </p>
                        <div class="button">
                            <a href=<%=url %> class="btn">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="javascripts/bootstrap.min.js"></script>


</body>

</html>