<%- contentFor('body') %>
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Reset Password</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index.html">Home</a></li>
                    <li>Reset Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Reset Password</h3>
                            <p>Need to reset your password? No problem! Just enter your email &amp; click the button
                                below.</p>
                        </div>
                        <div class="input-head">
                            <div class="form-group input-group">
                                <label><i class="far fa-envelope"></i></label>
                                <input class="form-control" type="email" id="reg-email" placeholder="Enter your email" name="email" required="">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Send Rest Link</button>
                            <a class="btn alt" href="accounts/sign-in">Back to Log in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">
<%- contentFor('customScript') %>