<%- contentFor('body') %>
    <% if (message) { %>
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <!-- Position it: -->
            <!-- - `.toast-container` for spacing between toasts -->
            <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
            <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    
                <!-- Then put toasts within -->
    
                <!-- Start toasts -->
                <div class="toast bg-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000"
                    data-bs-autohide="true">
                    <div class="toast-header">
                        <img src="/images/logo/logo.png" class="rounded me-2" alt="logo" style="width:50px">
                        <strong class="me-auto">Message</strong>
                        <small class="text-muted">just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body bg-danger bg-opacity-75 text-white">
                        <%= message %>
                    </div>
                </div>
                <!-- End toasts -->
    
    
    
            </div>
        </div>
        <% } %>

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Reset Password</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index.html">Home</a></li>
                    <li>Reset Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Reset Password</h3>
                            <p>Need to reset your password? No problem! Just enter your email &amp; click the button
                                below.</p>
                        </div>
                        <div class="input-head">
                            <div class="form-group input-group">
                                <label><i class="far fa-envelope"></i></label>
                                <input class="form-control" type="email" id="reg-email" placeholder="Enter your email" name="email" required="">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Send Rest Link</button>
                            <a class="btn alt" href="accounts/sign-in">Back to Log in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">
<%- contentFor('customScript') %>
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach((toast, index) => { toast.show() });
    </script>