<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <b>Tên Quán:</b> Lê Minh Tài<br><b>Mô Tả:</b> Đây là quán ăn rất ngon ở gần trường đại học<br><b>Địa Chỉ:</b> KTX ĐHQG khu B Đông Hoà Dĩ
    An Bình Dương<br><b>Số điện thoại</b> 9999999999<br><b>Bài Viết
        Review</b>
    Chưa có bài viết<br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Quán: </h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</body>

</html>