<div class="widget categories-widget">
    <h5 class="widget-title">Categories</h5>
    <ul class="custom">
        <% categories.forEach((value,index)=>{ %>
            <li>
                <a href="/blog/blog-search/category/<%= value._id %>">
                    <%= value.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>