<div class="widget popular-tag-widget">
    <h5 class="widget-title">Popular Tags</h5>
    <div class="tags">
        <% tags.forEach((value,index)=>{ %>
            <a href="/blog/blog-search/tag/<%= value._id %>">
                <%= value.name %>
            </a>
        <% }) %>
    </div>
</div>