<div class="widget popular-feeds">
    <h5 class="widget-title">Popular Feeds</h5>
    <div class="popular-feed-loop">
        <% popularBlogs.slice(0,4).forEach((value,index)=>{ %>
            <div class="single-popular-feed">
                <div class="feed-desc">
                    <a href="javascript:void(0)" class="cetagory">
                        <%= value.category.name %>
                    </a>
                    <h6 class="post-title"><a href="blog/blog-detail/<%= value._id %>">
                            <%= value.title.substring(0, 60)+"..." %>
                        </a></h6>
                    <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                </div>
            </div>
        <% }) %>
    </div>
</div>