<div class="widget search-widget">
    <h5 class="widget-title">Search This Site</h5>
    <form action="#">
        <input type="text" placeholder="Search ...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>